# Node / JS
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Build / test
dist/
build/
coverage/

# Env & secrets
.env
.env.*.local

# Logs / tmp
logs/
*.log
tmp/

# IDE
.vscode/
.idea/

# Mac/Win
.DS_Store
Thumbs.db
